#map {
	width: 100%;
	height: 175px;
}

.service-item {
	margin: 0px;

	&.header-item {
		margin-top: 10px;
		background-color: #e7e7e7;
	}
}

.services {
	.tab-item {
		color: $dark;
	}
}

.button-revert-dark {
	background-color: #111;	
}