<ion-view view-title="">
  <ion-content>
     <img class="full-image" src="img/logo.png" style="margin-top: -40px;">
     <a  class="buton button button-full button-assertive ion-search" href="#/search">
       Search for Beauty Services Near You
     </a>
     <div class="list">
      <img class="full-image list-item" src="img/spa3.jpg"  ></img>
     <img class="full-image list-item" src="img/massage1.jpg" style="margin-top: -5px;"></img>
     <img class="full-image list-item" src="img/massage2.jpg" style="margin-top: -5px;"></img>
     <img class="full-image list-item" src="img/bridal1.jpg" style="margin-top: -5px;"></img>
     
     </div>
  </ion-content>
</ion-view>
