  <ion-view view-title="">
    <ion-content class="padding">
    <a href="#/"><img src="img/logo.png" style="width: 100%;"></a>
	<p>Your are now booked for the for the following appointment.</p>

	<div style="    font-weight: bold;
    line-height: 10px;
    color: #000000;
    margin-left: 85px;
    font-size: 20px;">
		<p>{{vendor.name}}</p>
		<p>Hair Stylist</p>
	  	<p>{{vendor.address}}</p>
	  	<p>October 1, 2015</p>
	  	<p>5:00 PM CST</p>
	</div>

	<p>Thank you for booking your appointment with Glamhub.</p>
	<p>A confirmation will be emailed to you shortly.</p>

    </ion-content>
  </ion-view>